h1{
    color: aqua;
    background-color: chartreuse;
}
h2{
    color: brown;
    background-color: coral;
}

h3{
    color: darkmagenta;
    background-color: aliceblue;
}

p{
    color: darkred;
    background-color: black;
}